.env
.env.development
*messages.json
*ui/node_modules
*firebase-debug.log
*firestore-debug.log
*ui-debug.log
*server/node_modules/
*mcp-playwright-sse-sever/node_modules
*ui/node_modules/
*ui/build/
*server/dist/
nginx/*.pem
.DS_Store
